extends newBase

block contenido
    .container
        .row
            .col
                 h3 Bienvenido, #{usuario} !
        .row
            .col
                h2 AE Games 
        .row
            .col
                 table.table.table-bordered.table-responsive
                    thead.thead-dark
                        tr
                            th Nombre 
                            th Apellido 
                            th Edad
                            th Correo
                            th 
                            th

                        tr 
                            each lista in modelo
                                form(action='/actualizar' method='POST')  
                                    td #{lista.nombre}
                                        input#nombre(type='text' name='nombre')
                                    td #{lista.apellido}
                                        input#apellido(type='text' name='apellido')  
                                    td #{lista.edad}
                                        input#edad(type='number' name='edad')
                                    td #{lista.correo}
                                        input#email(type='email' name='correo')

                                    td 
                                        input(type='submit',value='Actualizar').btn.btn-success
                                form(action='/eliminar', method='POST')
                                    input(type='hidden', value=lista.correo, name='correo')
                                td
                                        input(type='submit',value='Borrar').btn.btn-danger
                                tr

                        tr 
                            form(method='POST', action='/insertar')
                                td
                                    input#nombre(type='text' name='nombre')
                                td
                                    input#apellido(type='text' name='apellido') 
                                td
                                    input#edad(type='number' name='edad')
                                td
                                    input#correo(type='email' name='correo')
                                td

                                    input.btn.btn-primary(type='submit' value='Insertar') 
                        


    

                        
                        

                    
                                
                                    
            